<template>
    <div>
        <div class="input-username">
            <p>Input username below </p>
            <p class="register">(Not a registered user? Register below!)</p>
        </div>
        <input id="username-insert" type="text" name="username" v-model="input">
        <button id="login-button" @click="handleLogin" type="submit">Login / Register</button> 
    </div>
</template>

<script>

/* The component is exported to be used in the StartScreen component */
import { userInfo } from '../../api/userApi';

export default {
    name: 'Login',

    data() {
        return {
            input: '',
        }
    },
    
    methods: {
        /** 
         * Method that handles login of user. Tries to log the user in using this.input 
         * If the user does not exist in the database, the login fails.
         * If it fails, the method will register the user in the database and login again. 
         * The method returns an event to the component with the user object, sets loggedIn to true, 
         * and cheks if the user exisisted in the database or not and sets existingUser accordingly
         */
        async handleLogin(){
            if (this.input === ''){
                return;
            }
              
            const existingUser = await userInfo.login({username: this.input});

            if(existingUser.length === 0){
                await userInfo.createUser({username: this.input});
                const newUser = await userInfo.login({username: this.input});
                
                return this.$emit('buttonClicked', {
                    user: newUser[0],
                    loggedIn: true,
                    existingUser: false
                });
            }

            this.$emit('buttonClicked', {user: existingUser[0], loggedIn: true, existingUser: true});
            
          },
    }
};

</script>

<style>

.input-username {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    color: white;
}

.register {
    font-size: .6rem;
    margin-top: -14px;
}

#login-button {
    width: 151px;
    height: 33px;
    margin-top: 3px;
    border-radius: 10px;
    background: darkseagreen;
}

#username-insert {
    height: 15px;
    width: 145px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
}

</style>