<template>
  <div>
    <div class="select-container">
      <div class="select">
        <label for="numberOfQuestions">Questions</label>
        <input
          type="number"
          @input="numberOfQuestionsChange"
          min="1"
          max="50"
          name="numberOfQuestions"
        />
      </div>

      <div class="select">
        <label for="difficulty">Difficulty</label>
        <select type="text" @input="difficultyChange" name="difficulty">
          <option value="easy">Easy</option>
          <option value="medium">Medium</option>
          <option value="hard">Hard</option>
        </select>
      </div>

      <div class="select">
        <label for="category">Category</label>
        <select type="text" name="category" @input="selectedCategoryChange">
          <option
            v-for="category in categories"
            :key="category.id"
            :value="category.id"
          >
            {{ category.name }}
          </option>
        </select>
      </div>
    </div>
    <div>
      <button id="start-quiz" type="button" @click="startButtonClicked">
        Start Quiz!
      </button>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapState, mapActions } from 'vuex';

/* The component is exported to be used in the StartScreen component */
export default {
  name: 'Select',

  data() {
    return {};
  },

  /*Fetches state values defined in index.js */
  computed: {
    ...mapState([
      'numberOfQuestions',
      'difficulty',
      'categories',
      'selectedCategory',
      'error',
      'isLoading'
    ])
  },

  /**
   * When the component is created the quiz categories are fetched from the Trivia API
   * and the mutation method setNumberOfQuestions from index.js is called
   */
  async created() {
    await this.getQuizCategories();
    this.setNumberOfQuestions();
  },

  /**
   *Fetches mutations and actions from index.js
   *Creates functions for buttons
   */
  methods: {
    ...mapMutations([
      'setNumberOfQuestions',
      'setDifficulty',
      'setSelectedCategory'
    ]),

    ...mapActions(['getQuizCategories']),

    /**
     * Function to start the quiz when "Start Quiz" is clicked
     * If number of questions is not chosen the quiz will start with only one question as defined in state from index.js
     */
    startButtonClicked() {
      if (this.numberOfQuestions === '') {
        return;
      }
      this.$emit('clickStart');
    },

    /* Functions that take in the value from the input field and select elements to be used in the quiz */
    numberOfQuestionsChange(element) {
      this.setNumberOfQuestions(element.target.value);
    },

    difficultyChange(element) {
      this.setDifficulty(element.target.value);
    },

    selectedCategoryChange(element) {
      this.setSelectedCategory(element.target.value);
    }
  }
};
</script>

<style>
.select-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.select {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 13px;
  margin-bottom: 23px;
}

button {
  color: #000000;
}
</style>
