<template>
  <div>
    <h1>
      Welcome to the
      <div class="ShadowBounce" id="T">T</div>
      <div class="ShadowBounce" id="r">r</div>
      <div class="ShadowBounce" id="i">i</div>
      <div class="ShadowBounce" id="v">v</div>
      <div class="ShadowBounce" id="I">i</div>
      <div class="ShadowBounce" id="a">a</div>
      <div class="ShadowBounce" id="g">G</div>
      <div class="ShadowBounce" id="A">a</div>
      <div class="ShadowBounce" id="m">m</div>
      <div class="ShadowBounce" id="e">e</div>
    </h1>
    <div class="card">
      <div v-if="login" @buttonClicked="handleLoginButtonClicked">
        <div class="welcome">
          <div v-if="userExists">
            <p>Nice to see you again {{ this.user.username }}!</p>
            <p id="highscore">
              Your current highscore is: {{ this.user.highScore }}
            </p>
          </div>
          <p v-else>Welcome to our quiz {{ this.user.username }} :^)</p>
        </div>
      </div>
      <Login
        id="login"
        v-if="!login"
        @buttonClicked="handleLoginButtonClicked"
      ></Login>
      <Select v-if="login" @clickStart="handleStartClicked"></Select>
    </div>
  </div>
</template>

<script>
/*Imports the Login and Select components */
import Login from '@/components/Home/Login';
import Select from '@/components/Home/Select';

import { mapMutations, mapState } from 'vuex';

export default {
  name: 'StartScreen',

  /* Sets login and userExists to false in order to check if the user is logged in and if the user is a new user or if they already exist in the database */
  data() {
    return {
      login: false,
      userExists: false
    };
  },

  /* Fetches components to be used */
  components: {
    Login,
    Select
  },

  /* Fetches state value */
  computed: {
    ...mapState(['user'])
  },

  /**
   * Fetches the mutation "setUser"
   *Creates functions for buttons
   */
  methods: {
    ...mapMutations(['setUser']),

    /* Function for starting the quiz, pushes the user to the QuestionScreen */
    handleStartClicked() {
      this.$router.push('/QuestionScreen');
    },

    /**
     * When the user logs in the username should be set to the input
     * Login and userExists is set to "true"
     */
    handleLoginButtonClicked({ user, loggedIn, existingUser }) {
      this.setUser(user);
      this.login = loggedIn;
      this.userExists = existingUser;
    }
  }
};
</script>

<style>
body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgb(21, 21, 68) 0%,
    rgba(128, 128, 128, 1) 35%,
    rgba(119, 136, 153, 1) 100%
  );
  color: #f2f2f2;
  box-sizing: border-box;
}

h1 {
  margin-top: 4rem;
  font-size: 3rem;
}

h2 {
  font-size: 1rem;
}

/*Animation styling*/

.ShadowBounce {
  display: inline-block;
  animation-name: shadow-bounce;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  --col-dark: #333;
}

@keyframes shadow-bounce {
  0% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 var(--col-green);
  }
  30% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 var(--col-green);
  }
  70% {
    transform: translate3d(4px, -4px, 0);
    text-shadow: -4px 4px var(--col-green);
    color: var(--col-dark);
  }
  100% {
    transform: translate3d(1px, -1px, 0);
    text-shadow: -1px 1px var(--col-green);
  }
}

/*Animation delays for the StartScreen letters*/
#T {
  --col-green: #ff0000;
}
#r {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  --col-green: #ffa500;
}
#i {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  --col-green: #ffff00;
}
#v {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  --col-green: #008000;
}
#I {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  --col-green: #0000ff;
}
#a {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  --col-green: #4b0082;
}
#g {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  --col-green: #ee82ee;
}
#A {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
  --col-green: #ff0000;
}
#m {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  --col-green: #ffa500;
}
#e {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
  --col-green: #ffff00;
}

@keyframes float {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 0, -10px);
  }
  100% {
    transform: translate3d(0, 0, -1px);
  }
}

/*Animation styling end*/

.card {
  background-color: #09070ab7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0px 91px;
  margin-top: 50px;
  padding: 20px 50px;
  border-radius: 4px;
  height: 18rem;
  width: 27rem;

  -webkit-box-shadow: 0px 4px 9px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 9px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 9px -3px rgba(0, 0, 0, 0.75);
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  font-size: 25px;
}

#highscore {
  font-size: 15px;
}

select {
  height: 23px;
}

label {
  margin-bottom: 3px;
}

#start-quiz {
  color: #000000;
  margin-top: 25px;
  height: 48px;
  width: 92px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
  background-color: darkseagreen;
}

#login {
  color: #000000;
}
</style>
